<div class="main_content_iner ">

    <button class="gen"><i class="fas fa-plus-circle"></i> Live Transcoding </button>
    <div class="white_card card_height_100 mb_30">
        <div class="white_card_header">
            <div class="box_header m-0">

            </div>
        </div>
        <div class="white_card_body">
            <div class="card-body p-0">
                
                <!-- <form [formGroup]="streamLineForm" #formDir="ngForm" (ngSubmit)="streamFormSubmit()">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Channel Name</label>
                            <input placeholder="Enter the Channel Name"   type="text" formControlName="channel_name"
                                class="form-control">
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(streamLineForm.get('channel_name')?.invalid && formDir.submitted)">
                                Channel Name is required*
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="inputPassword4">Type </label>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="radio" formControlName="input_type" value="SDI" 
                                                    aria-label="Checkbox for following text input">
                                            </div>
                                        </div>
                                        <span class="check-new">SDI</span>
                                        <div style="color:#ec4040d6; " class="invalidError"
                                            *ngIf="(streamLineForm.get('input_type')?.invalid && formDir.submitted)">
                                            Type is required*
                                        </div>
                                    </div>
        
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="radio" formControlName="input_type" value="Network Input" 
                                                    aria-label="Checkbox for following text input">
                                            </div>
                                        </div>
                                        <span class="check-new">Network input</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" type="submit">sumbit</button>
                        </div>
                    </div>
                </form> -->

                <form [formGroup]="liveForm" #formDir="ngForm" >
                    <div class="form-row">

                        <div class="form-group col-md-6 ">
                            
                            <label for="inputPassword4">Channel Name</label>
                            <input placeholder="Enter the Channel Name"   type="text" formControlName="name"
                                class="form-control">
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(liveForm.get('name')?.invalid && formDir.submitted)">
                                Channel Name is required*
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Server</label>
                            <select class="form-control inputState"  formControlName="server">
                                <option value="" selected disabled>Select Server</option>                           
                                <option value="Single Pass" *ngFor="let server of serverList" [ngValue]="server.ip">{{server.name | titlecase}}({{server.ip}})</option>
                                
                            </select>
                            
                        </div>
                        <div class="col-md-12">
                            <label for="inputPassword4">Type </label>
                        </div>

                        <div class="col-md-2">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" formControlName="type" value="SDI" 
                                            (change)="GetStats($event)" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <span class="check-new">SDI</span>
                                <div style="color:#ec4040d6; " class="invalidError"
                                    *ngIf="(liveForm.get('type')?.invalid && formDir.submitted)">
                                    Type is required*
                                </div>
                            </div>

                        </div>


                        <div class="col-md-2">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" formControlName="type" value="Network Input" 
                                            (change)="GetStats($event)" (click)="toggleShow($event)" 
                                            aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <span class="check-new">Network input</span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group col-md-4 pl-0" *ngIf="isShown">

                                <input type="text" placeholder="Enter the Text" class="form-control"
                                    formControlName="value">
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Time Code </label>
                            <select class="form-control inputState"  formControlName="code">
         
                                <option value="" selected disabled>Please select</option>
                               =
                                <option  value="Embedded">Embedded</option>
                                <option  value="Start at 0">Start at 0</option>
                            </select>
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(liveForm.get('code')?.invalid && formDir.submitted)">
                                Time Code is required*
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Quality</label>
                            <select class="form-control inputState"  formControlName="quality">
                                <option value="" selected disabled>Please select</option>
                           
                                <option value="Single Pass">Single Pass</option>
                                <option value="Double Pass">Double Pass</option>
                            </select>
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(liveForm.get('quality')?.invalid && formDir.submitted)">
                                Quality is required*
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Interlacing</label>
                            <select class="form-control inputState"  formControlName="interlacing">
                                <option value="" selected disabled>Please select</option>
                                
                                <option value="Interlaced">Interlaced</option>
                                <option value="Progressive">Progressive</option>
                            </select>
                            <!-- <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(liveForm.get('interlacing')?.invalid && formDir.submitted)">
                                Quality is required*
                            </div> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Rotate</label>
                            <select class="form-control inputState"  formControlName="rotate">
                                <option value="" selected disabled>Please select</option>
                             
                                <option value="0">0</option>
                                <option value="90">90</option>
                                <option value="180">180</option>
                                <option value="270">270</option>
                            </select>
                            <!-- <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(liveForm.get('rotate')?.invalid && formDir.submitted)">
                                Rotate is required*
                            </div> -->
                        </div>                        
                        <div [ngClass]="(liveForm.value.dvr==false)?'col-md-12':'col-md-3'">
                            <label for="inputPassword4">DVR </label>
                            <div class="pl-0" [ngClass]="(liveForm.value.dvr==false)?'col-md-4':''">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" formControlName="dvr" (click)="dvrShow($event)"
                                                (change)="dvrChecked($event)"
                                                aria-label="Checkbox for following text input">
                                        </div>
                                    </div>
                                    <span class="check-new">Enable/Disable </span>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="dvrVisible">
                            <label for="inputPassword4">Sprite Image </label>
                            <div class="p-0">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" formControlName="sprite_image" 
                                                aria-label="Checkbox for following text input">
                                        </div>
                                    </div>
                                    <span class="check-new">Enable/Disable </span>

                                </div>
                            </div>
                            <!-- <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" formControlName="logo" multiple accept=".png"
                                        (change)="function($event)" class="custom-file-input" id="inputGroupFile01"
                                        aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Png</label>
                                </div>
                            </div> -->
                        </div>
                        <div class="form-group col-md-3" *ngIf="dvrVisible">
                            <label for="inputPassword4">DVR Window</label>
                            <input type="text" placeholder="Enter the Text" formControlName="window"
                                class="form-control">
                        </div>
                        <div class="form-group col-md-3" [ngStyle]="{'display':(liveForm.value.dvr)?'block':'none'}">
                            <label for="inputPassword4">EPG</label>                            
                                <select class="form-control inputState"  formControlName="epg_channel">
                                    <option value="" selected disabled>Please select</option>                            
                                    <option *ngFor="let channel of channelsList" [value]="channel.channel">{{channel.channel}}</option>                                
                                </select>
                        </div>
                        <!-- <div [ngClass]="(liveForm.value.catchup==false)?'col-md-12':'col-md-6'">
                            <label for="inputPassword4">Catchup </label>
                            <div class="pl-0" [ngClass]="liveForm.value.catchup?'':'col-md-4'">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" formControlName="catchup" 
                                                aria-label="Checkbox for following text input">
                                        </div>
                                    </div>
                                    <span class="check-new">Enable/Disable </span>

                                </div>

                            </div>
                        </div> -->
                        <!-- <div class="form-group col-md-6" [ngStyle]="{'display':(liveForm.value.catchup)?'block':'none'}">
                            <label for="inputPassword4">EPG</label>                            
                                <select class="form-control inputState"  formControlName="epg_channel">
                                    <option value="" selected disabled>Please select</option>                            
                                    <option *ngFor="let channel of channelsList" [value]="channel.channel">{{channel.channel}}</option>                                
                                </select>
                        </div> -->
                        <div class="col-md-6">
                            <label for="inputPassword4">Upload Logo </label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" formControlName="logo" accept=".png"
                                        (change)="func($event)" class="custom-file-input" id="inputGroupFile01"
                                        aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">{{selected_logos}}</label>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-3 ml-2" *ngIf="logo_name">
                            <img width="50%"  [src]="logos" alt="">
                            <i class="fa fa-trash" (click)="removeLogo()"></i>
                        </div>
                        
                        <div class="form-group col-md-6 pl-0">
                            <label for="inputPassword4">Template </label>
                            <ng-multiselect-dropdown formControlName="template" [settings]="dropdownSettings"
                            [(ngModel)]="selected" [data]="dropdownList" >
                            </ng-multiselect-dropdown>
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(liveForm.get('template')?.invalid && formDir.submitted)">
                                Template is required*
                            </div>
                        </div>
                        <div class="form-group  col-md-6" *ngIf="isVisible">
                            <label for="inputPassword4">Resolution</label>
                            <div class="input-group mb-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Width X Height</span>
                                </div>
                                <input type="text" formControlName="width" aria-label="First name" class="form-control">

                                <input type="text" formControlName="height" aria-label="Last name" class="form-control">

                            </div>


                        </div>
                        <div class="form-group  col-md-6" *ngIf="isVisible">
                            <label for="inputPassword4">Offset</label>
                            <div class="input-group mb-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Top X Left</span>
                                </div>
                                <input type="text" formControlName="top" aria-label="First name" class="form-control">

                                <input type="text" formControlName="left" aria-label="Last name" class="form-control">

                            </div>


                        </div>
                    </div>



                    <div class="form-row">

                        <!-- <div class="col-md-12 d-flex">
                            <label for="inputPassword4">Multi Language </label>
                            <input type="checkbox" (change)="multiChecked($event)" (click)="multiShow($event)"
                                class="check">
                        </div> -->



                        <!-- <div class="col-md-2" *ngIf="isVis">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" name="lang" (change)="GetVal($event)" value="Hindi"
                                            aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <span class="check-new">Hindi</span>
                            </div>
                        </div>

                        <div class="col-md-2" *ngIf="isVis">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" name="lang" (change)="GetVal($event)" value="English"
                                            aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <span class="check-new">English</span>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-12">
                            <label for="inputPassword4">Blackout </label>
                        </div>

                        <div class="col-md-2">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" name="blackout_type" formControlName="blackout_type" (click)="toggle($event)" value="Image" 
                                            (change)="getBlackout($event)"
                                            aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <span class="check-new">Image</span>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-2">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" name="blackout_type" formControlName="blackout_type" (click)="togglee($event)" value="Text"
                                            (change)="getBlackout($event)"
                                            aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <span class="check-new">Text</span>
                            </div>
                        </div> -->
                        <div class="col-md-12">
                            <div class="col-md-6 pl-0" *ngIf="isShow">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" multiple accept=".png" class="custom-file-input"
                                            id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Png</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12" *ngIf="Showed">
                            <div class="form-group col-md-4 pl-0">

                                <input type="text" placeholder="Enter the Blackout Text"
                                    formControlName="blackout_value" class="form-control">
                            </div>
                        </div>


                        <div class="col-md-12">
                            <label for="inputPassword4">Ticker </label>
                            <div class="col-md-2 pl-0">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" formControlName="ticker_bool" (click)="toggleShowed($event)"
                                                aria-label="Checkbox for following text input">
                                        </div>
                                    </div>
                                    <span class="check-new">Enable/Disable </span>

                                </div>

                            </div>
                        </div>

                       
                        <div class="col-md-12" [ngStyle]="{'display':liveForm.value.ticker_bool?'block':'none'}">
                            <div class="form-group col-md-4 pl-0">

                                <input formControlName="ticker_text" placeholder="Enter the Text" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <!-- <div class="form-group  col-md-6" *ngIf="isShowed">
                            <label for="inputPassword4">Resolution</label>
                            <div class="input-group mb-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Width X Height</span>
                                </div>
                                <input type="text" formControlName="ticker_width" aria-label="First name"
                                    class="form-control">

                                <input type="text" formControlName="ticker_height" aria-label="Last name"
                                    class="form-control">

                            </div>


                        </div> -->
                        <!-- <div class="form-group  col-md-6" *ngIf="isShowed">
                            <label for="inputPassword4">Offset</label>
                            <div class="input-group mb-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Top X Left</span>
                                </div>
                                <input type="text" formControlName="ticker_top" aria-label="First name"
                                    class="form-control">

                                <input type="text" formControlName="ticker_left" aria-label="Last name"
                                    class="form-control">

                            </div>


                        </div> -->
                        <div class="form-group col-md-3" *ngIf="liveForm.value.ticker_bool">
                            <label for="inputPassword4">Background Color</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="color" placeholder="Enter the Background Color" formControlName="bg_color"
                                        class="form-control">
                                </div>
                                <div class="col-md-9">
                                    <input type="text" disabled placeholder="Select Background" [value]="liveForm.value.bg_color"
                                class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3" *ngIf="liveForm.value.ticker_bool">
                            <label for="inputPassword4">Text Color</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="color" placeholder="Enter the Text Color" formControlName="text_color"
                                class="form-control" >
                                </div>
                                <div class="col-md-9">
                                    <input type="text" disabled placeholder="Select Text Color" [value]="liveForm.value.text_color"
                                class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3" *ngIf="liveForm.value.ticker_bool">
                            <label for="inputPassword4">Font Family</label>
                            <!-- <input type="text" placeholder="Enter the Font Family" formControlName="font_family"
                                class="form-control"> -->
                                <div class="custom-file">
                                    <input type="file" formControlName="font_family" accept=".otf, .wof, .ttf"
                                        (change)="fontSelection($event)" class="custom-file-input" id="inputGroupFile01"
                                        aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">{{font_family_name}}</label>
                                </div>
                        </div>
                        <div class="form-group col-md-3" *ngIf="liveForm.value.ticker_bool">
                            <label for="inputPassword4">Font Size</label>
                            <!-- <input type="text" placeholder="Enter the Font Size" formControlName="font_size"
                                class="form-control"> -->
                                <select class="form-control inputState"  formControlName="font_size">
                                    <option value="" selected disabled>Please select</option>                            
                                    <option *ngFor="let font of [30, 32, 34, 36, 38, 40]" [value]="font">{{font}}</option>                                
                                </select>
                        </div>

                        <div class="form-group col-md-6 ">
                            <label for="inputPassword4">Output </label>
                            <select class="form-control inputState"  formControlName="output" (change)="output($event)">
                                <option value="" selected disabled>Please select</option>
                                <option>RTMP </option>
                                <option>HLS</option>
                            </select>
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(liveForm.get('output')?.invalid && formDir.submitted)">
                                Output is required*
                            </div>
                        </div>

                    </div>
                    <div class="form-row" *ngIf="selectedType == 'RTMP'">
                        <div class="col-md-12">
                            <div class="form-group col-md-6 pl-0">
                                <label for="inputPassword4">URL</label>
                                <input type="text" placeholder="Enter the URL" formControlName="url"
                                    class="form-control">
                                <div style="color:#ec4040d6; " class="invalidError"
                                    *ngIf="(liveForm.get('url')?.invalid && formDir.submitted)">
                                    URL is required*
                                </div>
                            </div>

                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Num Retries</label>
                            <input type="text" placeholder="Enter the Num Retries" formControlName="num_retries"
                                class="form-control">
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(liveForm.get('num_retries')?.invalid && formDir.submitted)">
                                Num Retries is required*
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Retry Interval</label>
                            <input type="text" placeholder="Enter the Retry Interval" formControlName="retry_interval"
                                class="form-control">
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(liveForm.get('retry_interval')?.invalid && formDir.submitted)">
                                Retry Interval is required*
                            </div>
                        </div>
                        <div class="col-md-12">
                          
                            <div class="col-md-2 pl-0">
                                <label for="inputPassword4">Authentication</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <!-- <input type="checkbox" (change)="Getdata($event)" formControlName="aut" (click)="showOptions($event)"
                                                aria-label="Checkbox for following text input" > -->
                                                <input type="checkbox" formControlName="is_authenticated" (click)="showOptions($event)"
                                                aria-label="Checkbox for following text input" >
                                        </div>
                                    </div>
                                    <span class="check-new">Enable/Disable </span>

                                </div>

                            </div>
                        </div>
                      
                        <div class="form-group col-md-6" *ngIf="authen">
                            <label for="inputPassword4">Username</label>
                            <input type="text" placeholder="Enter the Username" formControlName="username"
                                class="form-control">
                        </div>
                        <div class="form-group col-md-6" *ngIf="authen">
                            <label for="inputPassword4">Password</label>
                            <input type="text" placeholder="Enter the Password" formControlName="password"
                                class="form-control">
                        </div>

                    </div>
                    <div class="form-row" *ngIf="selectedType == 'HLS'">
                        <div class="col-md-12">
                            <div class="form-group col-md-6 pl-0">
                                <label for="inputPassword4">URL</label>
                                <input type="text" placeholder="Enter the URL" formControlName="url"
                                    class="form-control">
                                <div style="color:#ec4040d6; " class="invalidError"
                                    *ngIf="(liveForm.get('url')?.invalid && formDir.submitted)">
                                    URL is required*
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                          
                            <div class="col-md-2 pl-0">
                                <label for="inputPassword4">Authentication</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" (change)="Getdata($event)" formControlName="aut" (click)="showwOptions($event)"
                                                aria-label="Checkbox for following text input">
                                        </div>
                                    </div>
                                    <span class="check-new">Enable/Disable </span>

                                </div>

                            </div>
                        </div>
                       
                        <div class="form-group col-md-6" *ngIf="authentication">
                            <label for="inputPassword4">Username</label>
                            <input type="text" placeholder="Enter the Username" formControlName="username"
                                class="form-control">
                        </div>
                        <div class="form-group col-md-6" *ngIf="authentication">
                            <label for="inputPassword4">Password</label>
                            <input type="text" placeholder="Enter the Password" formControlName="password"
                                class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">CDN Type </label>
                            <select class="form-control inputState" formControlName="cdn_type"
                                (change)="outputs($event)">
                                <option value="" selected disabled>Please select</option>
                                <option value="Akamai">Akamai</option>
                                <option value="WebDAV">WebDAV</option>
                                <option value="Directory">Directory</option>
                                <option value="s3Bucket">s3Bucket</option>

                            </select>
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(liveForm.get('cdn_type')?.invalid && formDir.submitted)">
                                CDN Type is required*
                            </div>

                        </div>

                        <div class="form-group col-md-6" *ngIf="(cdnOption=='Directory')||(cdnOption=='Single Directory')">
                            <label for="inputPassword4">Directory Structure </label>
                            <select class="form-control inputState" formControlName="directory">
                                <option value="" selected disabled>Please select</option>
                                <option value="Single Directory">Single Directory</option>
                                <option value="Sub-Directory">Sub-Directory</option>
                            </select>

                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="inputPassword4">Name Modifier</label>
                            <input type="text" placeholder="Enter the Name Modifier" formControlName="modifier"
                                class="form-control">
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(liveForm.get('modifier')?.invalid && formDir.submitted)">
                                Name Modifier is required*
                            </div>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="inputPassword4">HLS BaseURL</label>
                            <input type="text" placeholder="Enter the HLS BaseURL" formControlName="hls_url"
                                class="form-control">
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="inputPassword4">Segment Duration</label>
                            <input type="text" placeholder="Enter the Segment Duration" formControlName="segment_length"
                                class="form-control">
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(liveForm.get('segment_length')?.invalid && formDir.submitted)">
                                Segment Duration is required*
                            </div>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="inputPassword4">Segment List</label>
                            <input type="text" placeholder="Enter the Segment List" formControlName="segment_list"
                                class="form-control">
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(liveForm.get('segment_list')?.invalid && formDir.submitted)">
                                Segment List is required*
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-6 pl-0">
                                <label for="inputPassword4">Additional Options </label>
                                <ng-multiselect-dropdown formControlName="options" [settings]="dropdownSetting"
                                    [(ngModel)]="selectedItems" [data]="additional_options" >
                                </ng-multiselect-dropdown>
                                <div style="color:#ec4040d6; " class="invalidError"
                                    *ngIf="(liveForm.get('options')?.invalid && formDir.submitted)">
                                    Additional Option is required*
                                </div>
                            </div>

                        </div>




                    </div>
                    <div class="col-md-6" *ngIf="submitForm">
                        <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-md-6" *ngIf="updateForm">
                        <button type="submit" (click)="onUpdate()" class="btn btn-primary">Update</button>
                    </div>




                </form>
            </div>
        </div>
    </div>




</div>