<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="m-0">
                            <div class="main-title">
                                <table class="table lms_table_active">
                                    <thead>
                                        <tr>
                                            <th scope="col"><h3 style="float: left;" class="m-0">Data Listing</h3></th>
                                            <th class="text-center" scope="col"></th>
                                            <th class="text-center" scope="col"></th>
                                            <th class="text-center" scope="col"></th>
                                            <th class="text-center" scope="col"></th>
                                            <!-- <th class="text-right" scope="col"><input type="text" id="search-bar" placeholder="Search . . .">
                                            </th> -->

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>                    
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="QA_table mb_30">
                                <!-- table-responsive -->
                                <table class="table lms_table_active">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th class="text-center" scope="col"> Name</th>
                                            <th class="text-center" scope="col"> Ip</th>
                                            <th class="text-center" scope="col">Status</th>
                                            <th class="text-center" scope="col">Created</th>
                                            <th class="text-center" scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  tabindex="0" class="sorting_1" *ngFor="let server of serverList; let i=index">
                                            <td >{{i+1}}</td>
                                            <td class="text-center">{{server.name}}</td>
                                            <td class="text-center">{{server.ip}}</td>
                                            <td class="text-center">
                                                <img _ngcontent-pwy-c77="" alt="" style="cursor: pointer; width: 20px;" title="Active" src="assets/img/icon/{{(server.status==1)?'active':'inactive'}}.png">
                                            </td>
                                            <td class="text-center">{{server.created | date:'medium'}}</td>
                                            <td class="text-center"><i class="fas fa-trash" (click)="deleteRecord(server)" style="cursor: pointer;" title="Delete"></i></td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">

            </div>
        </div>
    </div>
</div>