<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h5>EPG section</h5>
            <div class="card epg-card">
                <table style="width:100%; table-layout:fixed">
                    <tr>
                      <td style="width: 120px; vertical-align: initial;">
                        <div class="epgChannels" >
                          <!-- <h5>Epg Channels List</h5> -->
                          <div style="text-align: center; margin: 10px;">
                            <img src="assets/epgIcons/icons8-back-to-48.png" width="28" height="18" id="left-button" alt="">
                            <img src="assets/epgIcons/icons8-next-page-48.png" width="28" height="18" id="right-button" alt="">
                          </div>
                              
                          <div class="epg" *ngFor="let data of epgChannels">
                            <div style="width: 120px; background: white; text-align: center;">
                              <img src="{{data.channel_logo}}" width="75" height="75" alt=""> 
                            </div>
                          </div>
                        </div>
                      </td>
                      <td style="position: relative;">
                        <div class="items" id="itemsSection">
                          <div class="item item1">
                            <div class="epg-list">
                              <div *ngIf="(epgChannels.length > 0) && (liveChange === true)" class="liveStatus" 
                                [ngStyle]="{'left': 30*2*hour*8 + min*8-1.8 + 'px'}">
                                <div class="live-text">Live</div>
                                <div class="vertical" [ngStyle]="{'height': epgChannels.length * 95 + 'px'}"></div>
                              </div>  
                              <div class="epg-head">
                                <ul>
                                  <li *ngFor="let item of epgTime">
                                    <div class="bar"></div>
                                    <div>{{item | slice: 0:5}}</div>
                                  </li>
                                </ul>
                              </div>
                              <div class="epg-data" *ngIf="epgChannels.length > 0">
                                <ul  *ngFor="let channel of epgChannels; let i = index" style="margin-bottom:12px">
                                  <li *ngFor="let epg of channel.epg; let j = index" 
                                    [ngStyle]="{'width': (epg.duration) * 8 + 'px'}" >                                      
                                    <div class="epg-hover" style="padding: 8px 15px 8px 8px; line-height: 20px;">
                                      <div (click)="playVideo(epg)" data-toggle="modal" data-target="#epgPlayModal">
                                        <!-- <img src="{{epg.logo}}" width="70" alt=""> -->
                                        <i *ngIf="epg.url" class="fas fa-play-circle" title="Play"></i>
                                        <span>
                                          {{epg.title}}
                                        </span>                                         
                                          <div>
                                            {{ (epg.epoc * 1000) | date: 'shortTime' }} - {{ ((epg.epoc  + epg.duration * 60) * 1000) | date: 'shortTime' }}
                                          </div>
                                      </div>                                        
                                        <span class="epgInfo" style="font-size: 10px; font-weight: 400; display: none;" (click)="getMoreInfo(i, j)">
                                          <i class="fas fa-info-circle"></i> More Info
                                        </span>
                                        <!-- <span class="download" title="Download" *ngIf="epg.url && ((epg.epoc  + epg.duration * 60) * 1000) <= epoch" (click)="downloadEpg(epg)">
                                          Download &nbsp; &nbsp;<i class="fas fa-download"></i>
                                        </span> -->
                                    </div>
                                  </li> 
                                </ul>
                              </div>                                
                            </div>  
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="epgPlayModal" tabindex="-1" role="dialog" aria-labelledby="epgPlayModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="epgPlayModalLabel">{{epgSection.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-1" id="epgBody">
        <div id="player-wrapper" class="player-container"></div>
      </div>
      
    </div>
  </div>
</div>
