.container {
    // margin: 10px;
    margin-left: 5px;
}



.epg-date-card {
    padding: 0;
    // background: black;
    .mat-datepicker-toggle-active {
        color: #1e88e5;
    }

}
::ng-deep .mat-calendar-body-selected  {
    background: #1e88e5;
}
.epg-card {
    background-color: black;
    padding: 0px 10px;
    .no-epg {
        padding: 5% 0%;
        text-align: center;
        font-family: 'Poppins';
        color: #fcfcfc;
        // font-size: 24px;
        // font-weight: 600;
    }
}
.fa-times {
    z-index: 100;
    text-align: center;
    line-height: 20px;
    top: -10px;
    position: absolute;
    color: #e0e0e0;
    width: 20px;
    height: 20px;
    background: #f53838;
    right: -10px;
    border-radius: 50%;
    cursor: pointer;
}

.epgDate {
    text-align: center;
    color: #607d8b;
    font-family: 'Poppins';
    font-size: 12px;
    ul {
        margin: 2px;
        display: inline-flex;
        li {
            list-style-type: none;
            button {
                padding: 5px 20px 5px 20px;
            }
        }
    }
}

.primary:hover, .secondary:hover {
    background: white;
    color: black;
}
.primary {
    color: #fff;
    font-weight: 500;
    background: #181c27;
}
.secondary {
    cursor: pointer;
    color: #607d8b;
    font-weight: 500;
}
.epgChannels {
    margin-top: 5px;
    h5 {
        color: #607d8b;
        text-align: center;
        font-size: 13px;
        margin-bottom: 3px;
        // padding-top: 8px;
    }
    .mat-card {
        padding: 0;
    }
    float: left;
    color: #fff;
    font-family: 'Poppins';
    font-size: 12px;
    .epg {
        cursor: pointer;
        // border-top: 1px solid white;
        background: black;
        color: #fff;
        padding-bottom: 12px;
        img {
            vertical-align: middle;
        }
    }
    ul {
        margin-left: -10%;
        li {
            cursor: pointer;
            border: 1px solid white;
            list-style-type: none;
            width: 90%;
            background: black;
            padding: 9.7px;
            img {
                vertical-align: middle;
            }
        }
        // li:hover {
        //     transform: scale(1.05);
        //     transition: transform .2s;
        // }
    }
}

.items {
    position: absolute !important;
    top: 10px;
    font-family: 'Poppins';
    font-size: 12px;
    // overflow-x: scroll;
    .epgTableHead {
        thead tr {
            th {
            height: 27px;
            text-align: left;
            background: white;
            color: #607d8b;
            width: 10px;
            }
        }
    }
    .epg-table {
        // margin-top: 40px;
        color: #ececed;
        font-size: 12px;
        thead tr {
            th {
            height: 27px;
            text-align: left;
            background: white;
            color: #607d8b;
            }
        }
        tbody tr td {
            background: #181c27;
            height: 76px;
            padding-left: 3px;
        }
    }
}

.card {
    margin-top: 15px;
    padding: 0;
    .vertical {
        z-index: 1;
        height: 100%;
        width: 2px;
        position: absolute;
        background: red;
        // left: 30%;
    }
    .text {
        background: red;
        position: absolute;
        color: #ececed;
        left: 25%;
        border-radius: 3px;
        padding: 1px 5px 1px 5px;
    }
}


@media (max-width: 737px) {
    .epgDate {
            overflow-x: scroll;
    }
}
.items {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    // transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
  }

  .items.active {
    // background: rgba(255,255,255,0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

  .item {
    display: inline-block;
    // background: rgb(208, 217, 221);
    min-height: 250px;
    min-width: 400px;
    // margin: 2em 1em;
    margin-top: 7px;
    @media screen and (max-width: 500px) {
      min-height: 200px;
      min-width: 200px;
    }
  }
@media screen and (max-width: 768px) {
    .items {
        // overflow-x: scroll;
        overflow-x: hidden;
    }
}

#left-button, #right-button {
    color: white; 
    transform: scale(1.8); 
    margin: 5px ; 
    // background: #1e88e5; 
    cursor: pointer; 
    font-weight: 600;
}
#left-button {
    padding-right: 10px;
}
#right-button {
    padding-left: 10px;
}

.epg-list {
    margin-top: -14px;
    // margin-left: -40px;
    margin-left: 0px;
    .liveStatus {
        // top: 36px;
        top: 0;
        // left: -3px;
        font-size: 12px;
        color: white;
        position: absolute;
        // background: #fc3e82;
        border-radius: 3px;
        padding: 0 3px 0 3px;
        z-index: 100;
        .live-text {
            position: relative;
            background: #fc3e82;
            color: #fcfcfc;
            left: -20px;
            // left: -10px;
            padding: 0px 10px 0px 10px;
            border-radius: 2px;
            font-weight: 600;
        }
        .vertical {
            background: #fc3e82;
            width: 2px;
            // height: 610px;
            position: absolute;
            z-index: 1000;
        }
    }
    .epg-head {
        // color: #768992;
        font-family: 'Poppins';
        ul {
            width: 100%;
            li {
                list-style-type: none;
                display: inline-flex;
                width: 240px;
                font-weight: 500;
                background: white;
                line-height: 50px;
                // line-height: 66px;
                .bar {
                    background: black;
                    width: 1px;
                    margin-top: 30px;
                }
            }
        }
    }
    .epg-data {
        margin-top: -20px;
        ul {
            width: 100%;
            li {
                list-style-type: none;
                display: inline-flex;
                width: 200px;
                // height: 80px;
                height: 75px;
                font-weight: 500;
                background: #181c27;
                // color: #607d8b;
                color: #fcfcfc;
                border-right: 1px solid black;
            }
        }
    }
    .epg-data {
        ul li {
            // .epg-hover {
            //     overflow: hidden;
            // }

            .download {
                line-height: 36px;
                i {
                    font-size: 14px;
                }
            }
            .epg-hover:hover {
                color: #fc3e82;
                // overflow: unset;
                width: auto !important;
                position: relative;
                background: #181c27;
                .epgInfo {
                    color: #23527c;
                }
                .download:hover {
                    color: #1e88e5;
                }
            }
        }
    }
}

