<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="editorForm" (ngSubmit)="editorSubmit()">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control" aria-label="Default select example">
                            <option value="" disabled selected>Select Channel</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Select Date" readonly class="form-control" [minDate]="minDate" [maxDate]="maxDate" (bsValueChange)="changeDate($event)" bsDatepicker>
                            </div>
                            <div class="col-md-6">
                                <ng-template #popTemplate>
                                    <timepicker [(ngModel)]="timer" [ngModelOptions]="{standalone: true}" [showMeridian]="true"></timepicker>
                                  </ng-template>
                                  <input class="form-control" readonly
                                  placeholder="Select Time"
                                    [ngModel]="timer | date:'hh:mm aa'"
                                    (ngModelChange)="timer=$event"
                                    [popover]="popTemplate"
                                    [outsideClick]="true"
                                    placement="bottom" [ngModelOptions]="{standalone: true}"
                                  />                            
                                </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control" aria-label="Default select example">
                                    <option value="" disabled selected>Select Duration</option>
                                    <option *ngFor="let time of durationTime" [value]="time">{{time.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success w-100">Play</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12 mt-5">
                    <div class="card p-1">
                        <div id="editorBody">
                            <div id="player-wrapper" class="player-container"></div>
                        </div>
                    </div>
                    <div class="custom-range-slider">
                        <ngx-slider style="margin-bottom: 0px;" [(value)]="start" [(highValue)]="end" [options]="options" (userChange)="onUserChange($event)"></ngx-slider>
                        <br> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
