::ng-deep.ngx-picker {
    input{
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
        box-shadow: 0 1px 7px 1px rgb(245 141 78 / 27%);  
    }
    button{
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color .15s;
        &:focus{
            outline: none;
            border: none;
        }
    }
}

.custom-range-slider {
    margin-top: 10px;
    padding: 2px;
    height: 90px;
    background: gainsboro;
    border-radius: 5px;
  }
::ng-deep {
    .custom-range-slider .ngx-slider .ngx-slider-bar {
      height: 50px;
      background: none;
      // border: 2px solid #0db9f0;
      border-radius: 7px;
    }
    .custom-range-slider .ngx-slider .ngx-slider-selection {
      background: #6d696978;
      border: 2px solid #0db9f0;
    } 
    .custom-range-slider .ngx-slider .ngx-slider-pointer {
      top: 12px;
      width: 14px;
      height: 30px;
      cursor: col-resize;
    }
    .custom-range-slider .ngx-slider .ngx-slider-pointer:after {
      left: 3px;
    }
    .custom-range-slider .ngx-slider .ngx-slider-pointer-max {
      width: 15px;
      margin-left: 2px;
    }
    .custom-range-slider .ngx-slider .ngx-slider-pointer-max:after {
      left: 4px;
    }
    .custom-range-slider .ngx-slider .ngx-slider-bubble {
        font-size: 12px;
        bottom: 10px;
    }
    .custom-range-slider .ngx-slider .ngx-slider-bubble.ngx-slider-limit {
        background: #1e87e4;
        border-radius: 4px;
        color: white;
    } 
    .custom-range-slider .ngx-slider-span .ngx-slider-bubble .ngx-slider-model-value {
        background: red;
    }
    // .custom-range-slider.ngx-slider .ngx-slider-bar-wrapper {
    //     margin-top: -10px;
    // }
}