<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="col-md-12 vertical-align-middle">

            <div class="col-md-3 auth-box ">

                <div class="left">
                    <div class="content">
                        <div class="head">
                            <div class="logo text-center"><img src="assets/images/logo-dark.png" alt="Klorofil Logo">
                            </div>
                            <p class="lead">Login to your account</p>
                        </div>
                        <div *ngIf="isInvalid" id="invalidLogin">{{invalidMsg}}</div>
                        <form class="form-auth-small" [formGroup]="loginForm" #formDir="ngForm"
                            (ngSubmit)="getToken();">

                            <div class="form-group">

                                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
                                <div style="color:#ec4040d6; " class="invalidError" *ngIf="(loginForm.get('email')?.invalid && formDir.submitted)">Email is required*
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
                                <div style="color:#ec4040d6;" class="invalidError" *ngIf="(loginForm.get('password')?.invalid && formDir.submitted)">Password is
                                    required*</div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>