.vertical-align-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
}
.vertical-align-middle {
    display: table-cell;
    vertical-align: middle;
}
.auth-box {
    -moz-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 2px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 1px 2px 10px 0 rgb(0 0 0 / 10%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 450px;
    margin: 0 auto;
    background: #dbdbdb47;
}

.auth-box .left {
    float: left;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    text-align: center;
    display: flex;
    align-items: center;
}

.auth-box .content {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 99%;
    vertical-align: middle;
}
.text-center {
    text-align: center;
}
.auth-box .lead {
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
    color: #2d1967a6;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 10%);
    box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 10%);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-color: #eaeaea;
    background-color: #fcfcfc;
}
.auth-box .form-auth-small .bottom {
    margin-top: 20px;
    text-align: center;
}
.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}