<div class="main_content_iner ">

    <button class="gen"><i class="fas fa-plus-circle"></i> Add Template </button>
    <div class="white_card card_height_100 mb_30">
        <div class="white_card_header">
            <div class="box_header m-0">

            </div>
        </div>
        <div class="white_card_body">
            <div class="card-body p-0">

                <form [formGroup]="templateForm" #formDir="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Template Name</label>
                            <input type="text" placeholder="Enter the Template Name" oninput="value=value.trim()" formControlName="name" class="form-control">
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(templateForm.get('name')?.invalid && formDir.submitted)">
                                Template Name is required*
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="custom-tabs-line tabs-line-bottom left-aligned">
                                <ul role="tablist" class="nav">
                                    <li class="active"><a href="#tab-bottom-left3" role="tab" data-toggle="tab">VIDEO
                                            <span class="badge"></span></a></li>
                                </ul>
                            </div>
                            <br>

                        </div>


                        <div class="form-group  col-md-6">
                            <label for="inputPassword4">Resolution</label>
                            <div class="input-group mb-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Width X Height</span>
                                </div>
                                <input type="text" formControlName="width" placeholder="Width" aria-label="First name" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control">

                                <input type="text" formControlName="height" placeholder="Height" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" aria-label="Last name" class="form-control">

                            </div>
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(templateForm.get('width')?.invalid && formDir.submitted) && (templateForm.get('height')?.invalid && formDir.submitted) ">
                                Resolution required*
                            </div>

                        </div>


                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Bitrate</label>
                            <input type="text" placeholder="Bits per second" formControlName="bitrate" class="form-control">
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(templateForm.get('bitrate')?.invalid && formDir.submitted)">
                                Bitrate is required*
                            </div>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="inputPassword4">FPS</label>
                            <input type="text" placeholder="Enter the FPS" formControlName="fps" class="form-control">
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(templateForm.get('fps')?.invalid && formDir.submitted)">FPS is
                                required*
                            </div>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Codec </label>
                            <select   class="form-control inputState" formControlName="codec">

                                <option value=""  selected disabled>Please select</option>
                                <option value="H.264">H.264 </option>
                                <option value="H.265">H.265</option>
                            </select>
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(templateForm.get('codec')?.invalid && formDir.submitted)">
                                Codec is required*
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputPassword4">GOP</label>
                            <input type="text" placeholder="Frames"formControlName="gop" class="form-control">
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(templateForm.get('gop')?.invalid && formDir.submitted)">GOP is
                                required*
                            </div>
                        </div>


                        <div class="form-group  col-md-6">
                            <label for="inputPassword4">Aspect Ratio</label>
                            <div class="input-group mb-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Eg 16:9</span>
                                </div>
                                <input type="text" aria-label="First name" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" placeholder="ex:16" formControlName="first" class="form-control">
                                <input type="text" aria-label="Last name" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" placeholder="ex:9" formControlName="second" class="form-control">

                            </div>
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(templateForm.get('first')?.invalid && formDir.submitted) && (templateForm.get('second')?.invalid && formDir.submitted)">
                                Aspect Ratio is
                                required*
                            </div>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Profile </label>
                            <select  class="form-control inputState" formControlName="profile">

                                <option value=""  selected disabled>Please select</option>
                                <option value="Baseline">Baseline</option>
                                <option value="Main">Main</option>
                                <option value="High">High</option>
                            </select>
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(templateForm.get('profile')?.invalid && formDir.submitted)">
                                Profile is required*
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Level </label>
                            <select  class="form-control inputState" formControlName="level">
                                <option value=""  selected disabled>Please select</option>
                                <option value="Auto">Auto</option>
                                <option value="2.1">2.1</option>
                                <option value="2.2">2.2</option>
                                <option value="3.1">3.1</option>
                                <option value="3.2">3.2</option>
                                <option value="4.0">4.0</option>
                                <option value="4.1">4.1</option>
                                <option value="5.0">5.0</option>
                                <option value="5.1">5.1</option>

                            </select>
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(templateForm.get('level')?.invalid && formDir.submitted)">Level
                                is required*
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="custom-tabs-line tabs-line-bottom left-aligned">
                                <ul role="tablist" class="nav">
                                    <li class="active"><a href="#tab-bottom-left3" role="tab" data-toggle="tab">AUDIO
                                            <span class="badge"></span></a></li>
                                </ul>
                            </div>
                            <br>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Audio Codec </label>
                            <select  class="form-control inputState" formControlName="audio_codec">
                                <option value=""  selected disabled>Please select</option>
                                <option value="AAC">AAC</option>
                                <option value="MP2">MP2</option>
                                <option value="AC3">AC3</option>


                            </select>
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(templateForm.get('audio_codec')?.invalid && formDir.submitted)">Audio
                                codec is required*
                            </div>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Bitrate</label>
                            <input type="text" placeholder="Enter the Audio Bitrate" formControlName="audio_bitrate" class="form-control">
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(templateForm.get('audio_bitrate')?.invalid && formDir.submitted)">
                                Bitrate is required*
                            </div>
                        </div>



                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Sample Rate </label>
                            <select  class="form-control inputState" formControlName="sample_rate">

                                <option value=""  selected disabled>Please select</option>
                                <option value="16000">16000</option>
                                <option value="32000">32000</option>
                                <option value="44100">44100</option>
                                <option value="48000">48000</option>

                            </select>
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(templateForm.get('sample_rate')?.invalid && formDir.submitted)">Sample
                                rate is required*
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Channel </label>
                            <select  class="form-control inputState" formControlName="channel">

                                <option value=""  selected disabled>Please select</option>
                                <option value="Mono">Mono </option>
                                <option value="Stereo"> Stereo</option>



                            </select>
                            <div style="color:#ec4040d6; " class="invalidError"
                                *ngIf="(templateForm.get('channel')?.invalid && formDir.submitted)">
                                Channel is required*
                            </div>
                        </div>

                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>


                    </div>




                </form>
            </div>
        </div>
    </div>




</div>