<div class="main_content_iner ">
    
    <button class="gen"><i class="fas fa-plus-circle"></i> GENERATE RTMP </button>
    <div class="white_card card_height_100 mb_30">
                   <div class="white_card_header">
                       <div class="box_header m-0">
                          
                       </div>
                   </div>
                   <div class="white_card_body">
                       <div class="card-body p-0">
                         
                           <form>
                               <div class="form-row">
                                   <div class="form-group col-md-6">
                                       <label for="inputPassword4">Source </label>
                                       <select id="inputState" class="form-control">

                                           <option selected="">RTMP</option>
                                           <option>RTM</option>
                                            <option>RTMS</option>
                                       </select>
                                   </div>
                                   <div class="form-group col-md-6">
                                       <label for="inputPassword4">IP</label>
                                       <input type="password" class="form-control" id="inputPassword4" >
                                   </div>
                               </div>
                              

                             
                               <div class="form-row">
                                   <div class="form-group col-md-6">
                                       <label for="inputPassword4">Source </label>
                                       <select id="inputState" class="form-control">

                                           <option selected="">ON Premise</option>
                                           <option>One </option>
                                            <option>Two</option>
                                       </select>
                                   </div>
                                   <div class="form-group col-md-6">
                                       <label for="inputPassword4">DRV</label>
                                       <input type="password" class="form-control" id="inputPassword4" >
                                   </div>
                                  
                               </div>
                               <div class="form-group">
                                   <div class="form-check">
                                       <input class="form-check-input" type="checkbox" id="gridCheck">
                                       <label class="form-check-label" for="gridCheck">
                                       HLS
                                       </label> <br>

                                        <input class="form-check-input" type="checkbox" id="gridChecks">
                                       <label class="form-check-label" for="gridChecks">
                                       Dash
                                       </label>
                                   </div>
                               </div>
                              
                           </form>
                       </div>
                   </div>
               </div>

           <div class="arow-btn">                    
               <button class="gen"> <i class="fas fa-arrow-circle-left"></i>  NEW ENDPOINT </button>
           </div>

             <div class="white_card card_height_100 mb_30">
                   <div class="white_card_header">
                       <div class="box_header m-0">
                          
                       </div>
                   </div>
                   <div class="white_card_body">
                       <div class="card-body p-0">
                         
                           <form>
                               <div class="form-row">
                                    <div class="form-group col-md-6">
                                       <label for="inputPassword4">HLS</label>
                                       <input type="password" class="form-control" id="inputPassword4" >
                                   </div>
                                   <div class="form-group col-md-6">
                                       <label for="inputPassword4">Dash URL</label>
                                       <input type="password" class="form-control" id="inputPassword4" >
                                   </div>
                                  
                                   <div class="col-md-6">
                                       <button type="submit" class="btn btn-primary">Complete</button>
                                   </div>

                               </div>
                              

                             
                              
                              
                           </form>
                       </div>
                   </div>
               </div>


</div>