<div class="main_content_iner ">
    <div class="container-fluid p-0">
       <div class="arow-btn">                    
                  <button class="gen">   CHOOSE CDN </button>
              </div>
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="white_card card_height_100 mb_30">
                  <div class="white_card_header">
                      <div class="box_header m-0">
                         <div class="tabs">
                      <table style="width:100%">
                    <tr>
                      <th ></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                    <tr>

                      <td><label class="fancy-radio">
                        <input name="gender" value="male" type="radio">
                        <span><i></i>Cloudfont</span>
                      </label></td>

                      <td><label class="fancy-radio">
                        <input name="gender" value="male" type="radio">
                        <span><i></i>Akamai</span>
                      </label></td>


                      <td><label class="fancy-radio">
                        <input name="gender" value="male" type="radio">
                        <span><i></i>Lime light</span>
                      </label></td>
                       <td><label class="fancy-radio">
                        <input name="gender" value="male" type="radio">
                        <span><i></i>Verizon</span>
                      </label></td>

                       <td><label class="fancy-radio">
                        <input name="gender" value="male" type="radio">
                        <span><i></i>Multicdn</span>
                      </label></td>
                       <td style="width: 195px;"><label class="fancy-radio">
                        <input name="gender" value="male" type="radio">
                        <span><i></i>Jio</span>
                      </label></td>
                    </tr>
                    
                  </table>
                    </div>
                      </div>
                  </div>
                 
              </div>
          </div>
          
          </div>
      </div>
       
         <div class="arow-btn">                    
                  <button class="gen"> <i class="fas fa-arrow-circle-left"></i>  NEW ENDPOINT </button>
              </div>

       <div class="white_card card_height_100 mb_30">
                      <div class="white_card_header">
                          <div class="box_header m-0">
                             
                          </div>
                      </div>
                      <div class="white_card_body">
                          <div class="card-body p-0">
                            
                              <form>
                                  <div class="form-row">
                                      <div class="form-group col-md-6">
                                          <label for="inputEmail4">Name Source</label>
                                          <input type="email" class="form-control" id="inputEmail4" >
                                      </div>
                                      <div class="form-group col-md-6">
                                          <label for="inputPassword4">Source URL</label>
                                          <input type="password" class="form-control" id="inputPassword4" >
                                      </div>
                                  </div>
                                 

                                
                                  <div class="form-row">
                                      <div class="form-group col-md-6">
                                          <label for="inputCity">Domain</label>
                                          <input type="text" class="form-control" id="inputCity">
                                      </div>
                                      <div class="form-group col-md-6">
                                          <label for="inputPassword4">Host URL</label>
                                          <input type="password" class="form-control" id="inputPassword4" >
                                      </div>
                                     
                                  </div>
                                  <div class="form-group">
                                      <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="gridCheck">
                                          <label class="form-check-label" for="gridCheck">
                                          Check me out
                                          </label>
                                      </div>
                                  </div>
                                  <button type="submit" class="btn btn-primary">Create</button>
                              </form>
                          </div>
                      </div>
                  </div>
  </div>