
<div class="container-fluid no-gutters">
    <div class="row">
        <div class="col-lg-12 p-0 ">
            <div class="header_iner d-flex justify-content-between align-items-center">
                <div class="sidebar_icon d-lg-none">
                    <i class="ti-menu"></i>
                </div>
                <div class="serach_field-area d-flex align-items-center">
                </div>
                <div class="header_right d-flex justify-content-between align-items-center">
                 
                    <div class="profile_info">
                        <img src="assets/img/client_img.png" alt="#">
                        <div class="profile_info_iner">
                            <div class="profile_author_name">
                                <p>{{user.email}}</p>
                            </div>
                            <div class="profile_info_details">
                                <a style="cursor: pointer;">My Profile </a>
                                <a style="cursor: pointer;">Settings</a>
                                <a (click)="logout()" style="cursor: pointer;">Log Out </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
