*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #a0a6a77d;
  color: white;
  overflow: show;
  z-index: 1000;
  p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);

  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #6bb0d0;
  border-bottom: 5px solid #6bb0d0;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  box-shadow: 0px 0px 4px 6px #5f5959;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}