<nav class="sidebar vertical-scroll  ps-container ps-theme-default ps-active-y">
    <div class="logo d-flex justify-content-between">
        <a href=""><img src="assets/images/logo-dark.png" alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul class="metismenu" id="sidebar_menu">
     
        <li class="mm-active">
            <a class="has-arrow"  aria-expanded="false">
                <div class="icon_menu">
                    <i class="fab fa-algolia"></i>
                </div>
                <span>CDN</span>
            </a>
            <ul >
                <li><a routerLink="/dashboard">Dashboard</a></li>
                <li><a routerLink="/new-endpoints">New Endpoints</a></li>
                <li><a routerLink="/endpoints">End Points</a></li>
            </ul>
        </li>
        <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="icon_menu">
                    <i class="fas fa-book"></i>
                </div>
                <span>File Transcoding</span>
            </a>
            <ul > 
                <li><a routerLink="/vod">VOD </a></li>
                <li><a routerLink="/vod-bulk">VOD (BULK)</a></li>
                <li><a routerLink="/audio">AUDIO</a></li>

            </ul>
        </li>
        <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">

                <div class="icon_menu">
                    <i class="fas fa-align-right"></i>
                </div>
                <span>Template</span>
            </a>
            <ul >
                <li><a routerLink="/add-template">ADD</a></li>
                <li><a routerLink="/template-list">LIST</a></li>

            </ul>
        </li>
        <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="icon_menu">
                    <i class="far fa-play-circle"></i>
                </div>
                <span>Live Transcoding</span>
            </a>
            <ul >
                <li><a routerLink="/add">ADD</a></li>
                <li><a routerLink="/list">LIST</a></li>
            </ul>
        </li>
        <li class="">
            <a href="setting.html" aria-expanded="false">
                <div class="icon_menu">
                    <i class="fas fa-cog"></i>
                </div>
                <span>Settings</span>
            </a>
        </li>
        <li class="">
            <a routerLink="epg" aria-expanded="false">
                <div class="icon_menu">
                    <i class="fas fa-tv"></i>                
                </div>
                <span>Epg</span>
            </a>
        </li>
        <li class="">
            <a routerLink="editor" aria-expanded="false">
                <div class="icon_menu">
                    <i class='fas fa-hand-scissors'></i>
                </div>
                <span>Video Editor</span>
            </a>
        </li>
        <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">

                <div class="icon_menu">
                    <i class="fas fa-align-right"></i>
                </div>
                <span>Server</span>
            </a>
            <ul >
                <li><a routerLink="/server/add">ADD</a></li>
                <li><a routerLink="/server/list">LIST</a></li>

            </ul>
        </li>




    </ul>

</nav>
