// .delete{
//     background-color: #ed143d87;
//     padding: 5px;
//     width: 40px;
//     margin-left: 7px;
//     cursor: pointer;
// }
// .stop{
//     background-color: #00fff3;
//     padding: 5px;
//     width: 40px;
//     margin-left: 7px;
//     cursor: pointer;
// }
// .start{
//     background-color: yellow;
//     padding: 5px;
//     width: 40px;
//     border-radius: 50%;
//     margin-left: 7px;
//     cursor: pointer;
// }
// .play{
//     background-color: greenyellow;
//     padding: 5px;
//     width: 40px;
//     border-radius: 50%;
//     margin-left: 7px;
//     cursor: pointer;
// }
.icons{
    cursor: pointer;
}

th{border-bottom: none !important}
#search-bar{
    // border-radius: 10px;
    // border: 2px solid grey;
    font-family: 'Comfortaa';
}
.clipInput{
    padding: .375rem 2.75rem .375rem .75rem;    
}
.fa-clipboard{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-10px, -50%);
    padding: 2px;
    font-size: 18px;
    cursor: pointer;
}
#notifyAlarm{
    position: relative;
    .iconNotify{
        position: absolute;
        top: -16px;
        right: -12px;
        background-color: red;
        color: white;
        border-radius: 50%;
        width: 20px;            
        height: 20px;   
        line-height: 16px;   
        font-weight: 600;   
        font-size: 12px;    
        padding: 3px;  
    }
}
.disableStatus{
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
    // pointer-events: none;
    
}
.btnStatus{
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
}
