<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="m-0">
                            <div class="main-title">
                                <h3 style="float: left;" class="m-0">
                                    <div class="form-group" style="display: inline-flex;">
                                        <select class="form-control inputState" id="selectedAction" (change)="onChangeAction($event)">
                                            <!-- <option value="" selected disabled>Action</option>                                                            
                                            <option *ngFor="let act of ['start','stop','delete']" [value]="act">{{act | titlecase}}</option>                                                             -->
                                        </select>
                                        &nbsp;&nbsp;
                                        <select class="form-control inputState" (change)="onChangeFilter($event)" id="selectedAction">
                                            <option value="" selected disabled>Filter</option> 
                                            <option *ngFor="let filter of filterActions" [value]="filter.id">{{filter.name | titlecase}}</option>                                                             -->
                                        </select>
                                    </div>
                                </h3>
                                <div style="float:right">
                                    <input type="text" id="search-bar" class="form-control" placeholder="Search . . ." (keyup)="filterData($event)">

                                </div>
                                <!-- <table class="table lms_table_active">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <h3 style="float: left;" class="m-0">
                                                    <div class="form-group">
                                                        <select class="form-control inputState" id="selectedAction" (change)="onChangeAction($event)">
                                                        </select>
                                                    </div>
                                                </h3>
                                            </th>
                                            <th class="text-center" scope="col"></th>
                                            <th class="text-center" scope="col"></th>
                                            <th class="text-center" scope="col"></th>
                                            <th class="text-center" scope="col"></th>
                                            <th class="text-right" scope="col">
                                                <input type="text" id="search-bar" placeholder="Search . . ." (keyup)="filterData($event)">
                                            </th>

                                        </tr>
                                    </thead>
                                    </table> -->
                            </div>
                        </div>
                    </div>
                    
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="QA_table mb_30">
                                <!-- table-responsive -->
                                <table class="table lms_table_active">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <input style="width:16px;height: 16px;" type="checkbox" value="" id="listcheck_all" (change)="selectedCheck($event, liveList.length)">
                                            </th>
                                            <th scope="col">Thumb</th>
                                            <th scope="col">Channel Name</th>
                                            <th scope="col"> Status</th>
                                            <th scope="col">Running time</th>
                                            <th scope="col">Frame rate</th>
                                            <th scope="col" >Server</th>
                                            <th scope="col" class="text-center">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let list of liveList;let i=index">
                                        <tr>
                                            <td tabindex="0" class="sorting_1">
                                                <input style="width:16px; height:16px;" type="checkbox" value="" id="listcheck_{{i+1}}" (change)="selectedCheck($event, i)">
                                            </td>

                                            <td >
                                                <div class="customer d-flex align-items-center">
                                                    <div class="thumb_34 mr_15 mt-0">
                                                        <img *ngIf="list.thumb != ''; else elseBlock" (click)="openThumb(list)" data-toggle="modal" data-target="#listPlayerModal"
                                                            class="img-fluid" width="36" height="36" style="cursor: pointer;" title="Logo" [src]="list.thumb" alt="">
                                                        <ng-template #elseBlock>
                                                            <img class="img-fluid" width="36" height="36" src="assets/img/alt.png"
                                                                alt="">
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{list.channel_name}}</td>
                                            <td>
                                                <!-- (click)="postMainStatus('0',list);" -->
                                                <img style="cursor: pointer;width: 20px;"
                                                    *ngIf="list.status == '1'; else otherBlock" [src]="image[i]" alt=""
                                                    title="{{hello[i]}}" >
                                                <ng-template #otherBlock>
                                                    <img *ngIf="list.status == '0'; else newBlock"
                                                        style="cursor: pointer;" [src]="image[i]" alt=""
                                                        title="{{hello[i]}}" >

                                                    <ng-template #newBlock>
                                                        <img style="cursor: pointer;" [src]="image[i]" alt=""
                                                            title="{{hello[i]}}">
                                                    </ng-template>
                                                </ng-template>
                                            </td>
                                            <td><span title="{{list.running_time | slice:0:2}} days {{list.running_time | slice:3:5}} hours {{list.running_time | slice:6:8}} minutes {{list.running_time | slice:9:11}} seconds">{{list.running_time}}</span></td>
                                            <td>{{(list.frame_rate=='')?'--':list.frame_rate}}</td>
                                            <!-- <td>{{hello[i]}}</td> -->
                                            <td>
                                                <select style="width: 75%;" class="form-control inputState" #serverSelection (change)="serverChange(serverSelection, list)">
                                                    <option [value]="list.server" selected disabled>{{list.server_name | titlecase}}({{list.server}})</option>                           
                                                    <option  *ngFor="let server of serverList" [value]="server.ip">{{server.name | titlecase}}({{server.ip}})</option>
                                                    
                                                </select>
                                                <!-- <div class="row">
                                                    <div class="form-group col-md-8">
                                                        <select class="form-control inputState" #serverSelection (change)="serverChange(serverSelection, list)">
                                                            <option [value]="list.server" selected disabled>{{list.server_name | titlecase}}({{list.server}})</option>                           
                                                            <option  *ngFor="let server of serverList" [value]="server.ip">{{server.name | titlecase}}({{server.ip}})</option>
                                                            
                                                        </select>
                                                    </div>
                                                </div> -->
                                            </td>
                                            <td class="icons text-center">
                                                <i class="fas fa-edit grees" title="Edit" (click)="navigate(list.job_id,list.status)"
                                                 ></i>
                                                <span [ngStyle]="{'display':((list.status==5)||(list.status==3))?'none':'inline'}" [attr.title]="(list.status==5)?'Already Started':'Start'">
                                                    <i [ngStyle]="{'pointer-events':(list.status!=5)?'auto':'none'}" class="fa fa-power-off"
                                                    (click)="postMainStatus('5',list);"></i>
                                                </span>
                                                <span *ngIf="(list.status==5)||(list.status==3)" [attr.title]="(list.status==6)?'Already Stopped':'Stop'">
                                                    <i class="fas fa-stop-circle reds" [ngStyle]="{'pointer-events':(list.status!=6)?'auto':'none'}" 
                                                    (click)="postMainStatus('6',list);"></i>
                                                </span>
                                                <span (click)="playVideo(list)" title="Play" data-toggle="modal" data-target="#listPlayerModal">
                                                    <i class="fa fa-play"></i>
                                                </span>
                                                <span [ngClass]="((list.status==5)||(list.status==3))?'disableStatus':''">
                                                    <i class="fas fa-trash" title="Delete" (click)="postMainStatus('7',list);"></i>
                                                </span>
                                                <span id="notifyAlarm" (click)="openAlarm(list)" data-toggle="modal" data-target="#listnotifyModal">
                                                    <i class="fas fa-bell" title="Alarm" ></i>
                                                    <span class="iconNotify" *ngIf="list.notification_count!=0">{{list.notification_count}}</span>
                                                </span>
                                            </td>
                                            <!-- <td class="icons">
                                                <img title="Play" class="play" src="assets/img/icon/play.png" alt="">
                                                <img title="Start" class="start" src="assets/img/icon/start.png" alt="">
                                                <img title="Stop" class="stop" src="assets/img/icon/stop.png" alt="">
                                                <img title="Delete" class="delete" src="assets/img/icon/delete.png" alt="">
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <nav aria-label="Page navigation example" style="float:right;margin-right:60px;margin-bottom: 25px;">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0)" (click)="gotoPages('previous')" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li *ngFor="let p of pages;let i=index" class="page-item {{(p.active)?'active':''}}" >
                                        <a class="page-link" href="javascript:void(0)" (click)="gotoPages(p)">{{i+1}}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0)" (click)="gotoPages('next')" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                              </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="listPlayerModal" tabindex="-1" role="dialog" aria-labelledby="listPlayerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="listPlayerModalLabel" >{{playerSection.channel_name | titlecase}}</h5>          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-1" id="listPlayerBody">
            <p style="font-size: 12px;position: relative;" id="listPlayerModalLabel">
                <input type="text" value="{{(playerSection.thumb=='')?playerSection.player_url:playerSection.thumb}}" (dblclick)="copyUrl(playerSection)" class="form-control clipInput" readonly>
                <i class="fa fa-clipboard" aria-hidden="true" title="Copy Url" (click)="copyUrl(playerSection)"></i>
            </p>
            <div>
                <div id="player-wrapper" class="player-container"></div>
            </div>
            <div id="thumbImg" [ngStyle]="{'display':(playerSection.thumb=='')?'none':'block'}">
                <img src="{{playerSection.thumb}}" style="width:100%;height:auto" alt="">
            </div>
        </div>
        
      </div>
    </div>
  </div>

<!-- notify -->
<div class="modal fade" id="listnotifyModal" tabindex="-1" role="dialog" aria-labelledby="listnotifyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="listnotifyModalLabel" >Notifications</h5>          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeNotifyModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-2" id="listnotifyBody">
            <div class="white_card_body">
                <div class="QA_section">
                    <div class="QA_table mb_30">
                        <table class="table lms_table_active; let i=index">
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Created</th>
                                    <!-- <th scope="col">Status</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="border-bottom:1px solid #e9f0f1;" *ngFor="let a of notificationsList" [ngStyle]="{'background':(a.status==='unread')?'#eecdcd':'inherit'}">
                                    <td>{{a.title}}</td>
                                    <td>{{a.description | titlecase}}</td>
                                    <td>{{a.created}}</td>
                                    <!-- <td>{{a.status}}</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
      </div>
    </div>
  </div>
