<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Template Listing</h3>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body">
                        <div class="QA_section">


                            <div class="QA_table mb_30">
                                <!-- table-responsive -->
                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>

                                            <th scope="col">Name</th>
                                            <th scope="col">Created</th>
                                            <th scope="col">Status</th>
                                            <th scope="col" class="text-center"> Edit Delete</th>


                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let list of templateList">
                                        <tr>

                                            <td>{{list.title}}</td>
                                            <td>{{list.created}}</td>
                                            <td>
                                                <!-- <span *ngIf="{{list.status}}" class="fa fa-check" (click)="toggleActive()"></span> -->
                                                <span style="cursor: pointer;"
                                                    class="fa fa-{{(list.status==1)?'check':'times'}}"
                                                    (click)="toggleActive(list)"></span>
                                            </td>
                                            <td class="icons text-center"> <i class="far fa-edit"
                                                    routerLink="/add-template/{{list.id}}"></i> <i
                                                    (click)="deleteList(list)" class="fas fa-trash"></i> </td>
                                        </tr>






                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                    <div class="pagecontent">
                        <div class="paging">
                            <pagination [totalItems]="205" [rotate]="rotate" [maxSize]="maxSize" (pageChanged)="pageChanged($event)"></pagination>
                        </div>
                </div>

            </div>
        </div>
    </div>
</div>