<div class="main_content_iner ">

    <button class="gen"><i class="fas fa-plus-circle"></i> Add Server </button>
    <div class="white_card card_height_100 mb_30">
        <div class="white_card_header">
            <div class="box_header m-0">

            </div>
        </div>
        <div class="white_card_body">
            <div class="card-body p-0">
                <form [formGroup]="serverForm" #formDir="ngForm" (ngSubmit)="createServer()">
                    <div class="form-group  col-md-6" >
                        <label for="">Server Name</label>
                        <div class="input-group mb-0">                            
                            <input type="text" formControlName="server_name" aria-label="First name" placeholder="Enter Server Name" class="form-control">
                        </div>
                        <div id="invalidError"
                                *ngIf="(serverForm.get('server_name')?.invalid && formDir.submitted)">
                                Server Name is required*
                        </div> 
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        <label for="inputPassword4">Ip address</label>
                            <div class="input-group mb-0">                                
                                <input type="text" formControlName="ip" placeholder="Enter Ip" aria-label="First name" class="form-control">
                            </div>
                            <div id="invalidError"
                                *ngIf="(serverForm.get('ip')?.invalid && formDir.submitted)">
                                Ip address is required*
                            </div> 
                        </div>
                    </div>
                    <div class="col">
                    <button class="btn btn-primary" type="submit">Create</button>

                    </div>
                </form>
                
            </div>
        </div>
    </div>




</div>