/* You can add global styles to this file, and also import other style files */
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';

.custom-tabs-line ul {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
    .custom-tabs-line ul > li {
      float: left; }
      .custom-tabs-line ul > li a {
        color: #8d9093;
        font-weight: normal; }
        .custom-tabs-line ul > li a:hover, .custom-tabs-line ul > li a:focus {
          color: #676a6d;
          background-color: transparent; }
        .custom-tabs-line ul > li a:focus {
          outline: none; }
    .custom-tabs-line ul.nav-pills a:hover, .custom-tabs-line ul.nav-pills a:focus {
      color: #fff;
      background-color: #00AAFF; }
  
  .custom-tabs-line.tabs-line-bottom {
    border-bottom: 1px solid #eaeaea; }
    .custom-tabs-line.tabs-line-bottom ul > li {
      margin-bottom: -1px; }
    .custom-tabs-line.tabs-line-bottom a {
      border-bottom: 1px solid transparent; }
    .custom-tabs-line.tabs-line-bottom .active a {
          border-bottom: 2px solid #555; }
  
  .custom-tabs-line.left-aligned {
    text-align: left; }
  
  .custom-tabs-line.right-aligned {
    text-align: right; }
  
  @media screen and (max-width: 768px) {
    .custom-tabs-line ul li.active > a {
      margin-bottom: -1px; } }
    .has-arrow{
        cursor: pointer;
    }
  .invalidError{
    font-size: 12px;
  }
  #invalidError{
    font-size: 12px;
    color: #ec4040d6;
  }

  .multi{    font-size: 11px;


}
.multiselect-dropdown .dropdown-btn  .selected-item-container .selected-item {
  max-width: unset !important;
}
input::-webkit-input-placeholder {
  font-size: 13px;

}
