<div id="wrapper">
<div class="main">

    <div class="ing"> INGESTION POINT </div>

    <div class="Create">
        <span data-toggle="modal" data-target="#myModal"> <i class="fa fa-plus activity-icon"></i> New Job </span>
    </div>
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="col-md-12">
            <div class="tabs">
               
                <table style="width:100%">
                    <tr>
                        <th>Type</th>
                        <th>Server user/Key</th>
                        <th>password</th>
                        <th>Rtmp host/bucket folder</th>
                        <th>Rtmp app/signature version </th>
                        <th>action</th>

                    </tr>
                    <tr>
                        <td><a href="detail.html"> Gecko </a></td>
                        <td>Firebox 1.0</td>
                        <td>Win 98+</td>
                        <td>1.7</td>
                        <td>1254</td>
                        <td>1254</td>
                    </tr>

                    <tr>
                        <td><a href="detail.html"> Gecko </a></td>
                        <td>Firebox 1.0</td>
                        <td>Win 98+</td>
                        <td>1.7</td>
                        <td>1254</td>
                        <td>1254</td>
                    </tr>

                    <tr>
                        <td><a href="detail.html"> Gecko </a></td>
                        <td>Firebox 1.0</td>
                        <td>Win 98+</td>
                        <td>1.7</td>
                        <td>1254</td>
                        <td>1254</td>
                    </tr>

                    <tr>
                        <td><a href="detail.html"> Gecko </a></td>
                        <td>Firebox 1.0</td>
                        <td>Win 98+</td>
                        <td>1.7</td>
                        <td>1254</td>
                        <td>1254</td>
                    </tr>

                    <tr>
                        <td><a href="detail.html"> Gecko </a></td>
                        <td>Firebox 1.0</td>
                        <td>Win 98+</td>
                        <td>1.7</td>
                        <td>1254</td>
                        <td>1254</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>




    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="storage">
                                <label>Storage Type</label>
                                <select class="form-control">
                                    <option value="cheese">FTP</option>
                                    <option value="tomatoes">AWS</option>
                                    <option value="mozarella">Google Drive</option>
                                    <option value="mushrooms">Amazone s3</option>
                                    <option value="pepperoni">Others</option>

                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="storage">
                                <label>Location Type</label>
                                <select class="form-control">
                                    <option value="cheese">Select Location</option>
                                    <option value="tomatoes">Tomatoes</option>
                                    <option value="mozarella">Mozzarella</option>
                                    <option value="mushrooms">Mushrooms</option>
                                    <option value="pepperoni">Pepperoni</option>
                                    <option value="onions">Onions</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="sto-url">
                                <label>URL</label> <br>
                                <input type="text" name="">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="sto-url">
                                <label>Server</label> <br>
                                <input type="text" name="">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="sto-url">
                                <label>Server Base Path</label> <br>
                                <input type="text" name="">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="sto-url">
                                <label>User Name</label> <br>
                                <input type="text" name="">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="sto-url">
                                <label>Password</label> <br>
                                <input type="password" name="">
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="sto-url">
                                <label>RTMP Host Name</label> <br>
                                <input type="text" name="">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="sto-url">
                                <label>RTMP App Name</label> <br>
                                <input type="password" name="">
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer" style="text-align: center;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close </button>
                </div>
            </div>

        </div>
    </div>



</div>
</div>